<div class="dashboard-card-container">

    <div class="col-md-3">

        <div style="padding-left: 10px;">
            <a [routerLink]="[dashboardCardModel.link]">
                <h4 style="float: right">{{dashboardCardModel.title}}
                <span class="glyphicon glyphicon-circle-arrow-right"
                      style="margin-left: 10px"></span>
                </h4>
            </a>
            <h5 style="float: right; text-align: right ">{{dashboardCardModel.description}}</h5>
        </div>


    </div>
    <div class="col-md-2">

        <a [routerLink]="[dashboardCardModel.link]">
            <img class="image-scale" src="{{dashboardCardModel.imgSrc}}"/>
        </a>

    </div>


</div>