<div class="dashboard-card-container">

    <div class="col-md-3">

        <div style="padding-left: 10px;">
            <h4 style="float: right">{{dashboardCardModel.title}}
                <a><span class="glyphicon glyphicon-circle-arrow-right"
                         style="margin-left: 10px"
                         [routerLink]="[dashboardCardModel.link]"></span></a>
            </h4>
            <h5 style="float: right; text-align: right ">{{dashboardCardModel.description}}</h5>
        </div>


    </div>
    <div class="col-md-2">

        <a [routerLink]="[dashboardCardModel.link]">
            <img class="image-scale" src="{{dashboardCardModel.imgSrc}}"/>
        </a>

    </div>


</div>