<div class="container">

    <h3>Add employee</h3>

    <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">

        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input id="fullName" type="text" class="form-control" required
                   [(ngModel)]="model.fullName" name="fullName" #fullName="ngModel">
        </div>

        <!--TODO: email validation-->
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" required
                   [(ngModel)]="model.email" name="email">
        </div>

        <div class="form-group">
            <label for="mobileNo">Mobile number</label>
            <input id="mobileNo" type="text" class="form-control" required
                   [(ngModel)]="model.mobileNo" name="mobileNo">
        </div>

        <div class="form-group">
            <label for="employeePosition">Employee Position</label>

            <p-dropdown class="p-dropdowm-custom" id="employeePosition" name="employeePosition"
                        [style]="{'width':'100%'}"
                        [options]="employeePositionItems"
                        [(ngModel)]="model.employeePosition">

            </p-dropdown>

        </div>

        <div class="form-group">
            <label for="dateOfEmployment">Date of Employment</label>
            <input id="dateOfEmployment" type="date" class="form-control" required
                   [(ngModel)]="model.dateOfEmployment" name="dateOfEmployment">
        </div>

        <hr>

        <button type="button" class="btn btn-default" (click)="newEmployee()" required>New Employee</button>
        <button type="submit" class="btn btn-default" [disabled]="!employeeForm.valid" required>Submit</button>

    </form>
</div>
