<div class="container">

    <h3>Add Employee Position</h3>

    <form (ngSubmit)="onSubmit()" #employeePositionForm="ngForm">
        <div class="form-group">

            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" required
                   [(ngModel)]="model.name" name="name" #name="ngModel">

        </div>

        <hr>

        <button type="submit" class="btn btn-default" [disabled]="!employeePositionForm.valid" required>Add position</button>

    </form>
</div>
