<form class="login-form">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" #username
               placeholder="yours@example.com">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" #password
               placeholder="your password">
    </div>

    <button *ngIf="!userAuthenticated()" type="submit" class="btn btn-default"
            (click)="login(username.value, password.value)">Login
    </button>

</form>