<div class="col-md-4">

    <h3>Project Form</h3>
    <form (ngSubmit)="onSubmit(realBeginDateRef.className, realEndDateRef.className)" #projectForm="ngForm">

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" required
                   [(ngModel)]="model.name" name="name" #name="ngModel">
        </div>

        <div class="form-group">
            <label for="predictedBeginDate">Predicted Begin Date</label>
            <input id="predictedBeginDate" type="date" class="form-control date" required
                   [(ngModel)]="model.predictedBeginDate" name="predictedBeginDate">
        </div>

        <div class="form-group">
            <label for="predictedEndDate">Predicted End Date</label>
            <input id="predictedEndDate" type="date" class="form-control date" required
                   [(ngModel)]="model.predictedEndDate" name="predictedEndDate">
        </div>

        <div class="form-group">
            <label for="realBeginDate">Real Begin Date</label>
            <input id="realBeginDate" type="date" class="form-control" #realBeginDateRef
                   [(ngModel)]="model.realBeginDate" name="realBeginDate">
        </div>
        <div class="form-group">
            <label for="realEndDate">Real End Date</label>
            <input id="realEndDate" type="date" class="form-control" #realEndDateRef
                   [(ngModel)]="model.realEndDate" name="realEndDate">
        </div>

        <div class="form-group">

            <p-multiSelect name="employeeItems"
                           [style]="{'width':'100%'}"
                           [options]="employeeItems"
                           [(ngModel)]="model.employees"></p-multiSelect>

        </div>

        <hr>

        <button type="button" class="btn btn-default" (click)="newProject()" required>Clear form</button>
        <button type="submit" class="btn btn-default" [disabled]="!projectForm.valid" required>Submit</button>

        <hr>

    </form>
</div>
